* {
    margin: 0;
    padding: 0
    box-sizing: border-box;
}

.fundo{
    background-image: linear-gradient(45deg, black, crimson);
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.calculadora{
    background: rgba(0, 0, 0, 0.852);
    color: white;
    font-size: 15px;
    padding: 30px 50px;
    width: 20%;
    margin-left: 30px;
    margin-top: 100px; 
    border-radius: 10px;  
}

#resultado{
    background: white;
    color: black;
    text-align: right;
    border: 2px solid rgb(77, 5, 5);
    padding: 20px;
    width: 150px;
    height: 40px;

}





#zero {
    width: 150px;
}

#igual{
    height: 300px;
}

.btn{
    cursor: pointer;
}